*{
    box-sizing: border-box;
    margin: 3px;
}

body{
    background-color: rgb(255, 255, 255);
    font-family: 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.logo{
    height: 6rem;
    width:7rem;
}
.linha{
  width: 100%;
  height: 4px;
  background-color: 00000;
}


.cadastro {
    text-decoration: none;
    color: black;
    font-size: 1em;
    margin-right: 2rem;
}

.rodape{
    text-align: center;
    font-size: 1em;
}
